.git
.venv
.env
.vscode

__pycache__
**/__pycache__
*.py[cod]
.pytest_cache

data/
notebooks/
runs/
reports/
tests/

models/**
!models/
!models/car_price_regressor/
!models/car_price_regressor/**
!models/VINsion/
!models/VINsion/v1/
!models/VINsion/v1/best.pt

*.pt
*.onnx
!models/VINsion/v1/best.pt
