PYTHONPATH=.

INFERENCE_API_PORT=8001
INFERENCE_API_BIND_ADDR=0.0.0.0

MLFLOW_TRACKING_URI="http://52.22.99.240:5000"
MLFLOW_DB_NAME=mlflow
MLFLOW_DB_USER=mlflow
MLFLOW_DB_PASSWORD=change-me
MLFLOW_DB_PORT=15432
MLFLOW_DB_MEM_LIMIT=256m
MLFLOW_UI_PORT=5000
